.btn {
  display: flex;
  align-items: center;
  background-color: var(--red-color);
  border: 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: var(--light-color);
  border-radius: 1rem;
  padding-right: 2rem;
  transition: 0.5s;
}

.leftSideMove {
  img {
    transition: 0.3s;
  }
  &:hover {
    img {
      transform: translateX(-10px);
    }
  }
}

.success {
  background-color: lightgreen;
}

.danger {
  background-color: lightcoral;
}
