@use "@styles//variable";

.pageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.backBtnContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.boxerCardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.boxerCard {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  border-radius: var(--main-border-radius);
  background-color: var(--card-bg-color);
  box-shadow: 1px 1px 7px var(--shadow-color);
}

.boxerCardTitle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.boxerInfoContainer {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.boxerInfoWrapper {
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
  width: 100%;
}

.boxerInfoImg {
  width: 30vw;
  height: 60vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.dataContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  box-shadow: 1px 1px 7px var(--shadow-color);
  border-radius: 1rem;
  background-color: var(--menu-bg-color);
}

.chartContainer {
  width: 20vw;
  height: 40vh;
}

.boxerInfoBio {
  display: flex;
  justify-content: center;
  width: 60vw;
  height: auto;
  padding: 1rem;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .boxerInfoContainer {
    display: flex;
    flex-direction: column;
  }

  .boxerInfoContainer {
    padding: 0;
  }

  .boxerInfoImgChartWrapper {
    position: static;
  }

  .boxerInfoImgChartWrapper {
    display: block;
  }

  .boxerInfoImg {
    width: 100%;
  }

  .chartWrapper {
    align-items: flex-start;
    justify-content: center;
  }

  .chartContainer {
    width: 60vw;
    height: 20vh;
  }

  .boxerInfoBio {
    width: 100%;
  }
}
