@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Audiowide&family=Michroma&family=Prosto+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  width: 100vw;
  background-color: var(--bg-header-color);
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  transition: background-color 0.5s;
}

.headerNav {
  flex-grow: 1;
  padding: 1rem;
}

.desktopMenu {
  display: flex;
  gap: 1rem;
}

.menuLink {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: var(--link-color);
  letter-spacing: 5px;
}

.mobileMenu {
  display: none;
  height: 100%;
}

.mobileMenuBtn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.mobileMenuContent {
  position: absolute;
  top: 100%;
  left: 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  line-height: 0;
  border-radius: 10px;
  background-color: var(--menu-bg-color);
  box-shadow: 1px 1px 7px var(--shadow-color);
  transition: 0.5s;
}

.mobileMenuContent.visible {
  max-height: 100vw;
  overflow: visible;
  line-height: 1;
  opacity: 1;
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 20px 50px 20px 10px;
  a {
    padding: 0;
  }
}

.headerSettings {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 1rem;
}

.headerSettingsItem {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    align-items: center;
  }
}
