@use "@styles/variable";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--bg-header-color);
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  transition: background-color 0.5s;
}

.headerNav {
  flex-grow: 1;
}

.desktopMenu {
  display: flex;
  gap: 1rem;
  margin: 0;
}

.menuLink {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: var(--link-color);
  letter-spacing: 2px;
}

.mobileMenu {
  display: none;
  height: 100%;
}

.mobileMenuBtn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.mobileMenuContent {
  position: absolute;
  top: 100%;
  left: 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  line-height: 0;
  border-radius: 10px;
  background-color: var(--menu-bg-color);
  box-shadow: 1px 1px 7px var(--shadow-color);
  transition: 0.5s;
  img {
    display: none;
  }
}

.mobileMenuContent.visible {
  max-height: 100vw;
  overflow: visible;
  line-height: 1;
  opacity: 1;
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 20px 50px 20px 10px;
  a {
    padding: 0;
  }
}

.headerSettings {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.headerSettingsItem {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    align-items: center;
  }
}
