:root {
  --header-height: 80px;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lightTheme {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: .5s;
}

.darkTheme {
  background-color: black;
  color: white;
}